@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --color-primary-100: oklch(0.962 0.044 156.743);
    --color-primary-200: oklch(0.925 0.084 155.995);
    --color-primary-300: oklch(0.871 0.15 154.449);
    --color-primary-400: oklch(0.792 0.209 151.711);
    --color-primary-500: oklch(0.723 0.219 149.579);
    --color-primary-600: oklch(0.627 0.194 149.214);
    --color-primary-700: oklch(0.527 0.154 150.069);
    --color-primary-800: oklch(0.448 0.119 151.328);
    --color-primary-900: oklch(0.393 0.095 152.535);

    --color-secondary-100: oklch(0.951 0.026 236.824);
    --color-secondary-200: oklch(0.901 0.058 230.902);
    --color-secondary-300: oklch(0.828 0.111 230.318);
    --color-secondary-400: oklch(0.746 0.16 232.661);
    --color-secondary-500: oklch(0.685 0.169 237.323);
    --color-secondary-600: oklch(0.588 0.158 241.966);
    --color-secondary-700: oklch(0.5 0.134 242.749);
    --color-secondary-800: oklch(0.443 0.11 240.79);
    --color-secondary-900: oklch(0.391 0.09 240.876);

    --color-tertiary-100: oklch(0.962 0.12 303.9);
    --color-tertiary-200: oklch(0.925 0.18 303.9);
    --color-tertiary-300: oklch(0.871 0.22 303.9);
    --color-tertiary-400: oklch(0.792 0.24 303.9);
    --color-tertiary-500: oklch(0.627 0.265 303.9);
    --color-tertiary-600: oklch(0.527 0.24 303.9);
    --color-tertiary-700: oklch(0.448 0.22 303.9);
    --color-tertiary-800: oklch(0.393 0.18 303.9);
    --color-tertiary-900: oklch(0.343 0.12 303.9);
}

html,
body {
    @apply bg-white dark:bg-zinc-900;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}
