@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 2rem;
}

h1,
h2,
h3 {
    font-weight: 700;
}

@layer components {
    .card {
        border: 1px;
        border-style: solid;
        border-radius: theme("borderRadius.lg");
        padding: theme("spacing.3") theme("spacing.5");
        box-shadow: theme("boxShadow.xl");
    }

    .nora .card {
        background-color: theme("colors.white");
        border-color: theme("colors.gray.500");
    }

    .portfolio .card {
        cursor: pointer;
        background-color: #2d2d2d;
        border-color: #808080;
        
    }

    .portfolio .card:hover {
        background-color: theme("colors.green.900");
    }

    .about-item {
        @apply py-1
    }

    .about-item-text {
        @apply inline-block py-2 px-4 rounded-full;
    }

    .about-item-text:hover {
        @apply inline-block py-2 px-4 rounded-full bg-green-900;
    }
}
