@tailwind base;
@tailwind components;
@tailwind utilities;

.site {
    background-color: #2d2d2d;
    color: white;
    padding: 2rem;
}

@layer components {
    .card {
        background-color: #2d2d2d;
        border: 1px;
        border-color: #808080;
        border-style: solid;
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.xl');
    }
}
