@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

a {
    color: theme("colors.green.500");
}

h1,
h2,
h3 {
    font-weight: 700;
}

.site {
    background-color: #2d2d2d;
    color: white;
    padding: 2rem;
}

@layer components {
    .card {
        cursor: pointer;
        background-color: #2d2d2d;
        border: 1px;
        border-color: #808080;
        border-style: solid;
        border-radius: theme("borderRadius.lg");
        padding: theme("spacing.3") theme("spacing.5");
        box-shadow: theme("boxShadow.xl");
    }
}
